.container {
  /*display: grid;*/
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.header {
  display: grid;
  margin-left: 5%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header-hello"
    "header-image"
    "header-video"
    "header-text";
}

.hamburger-menu {
  display: none;
}

.header__hi-title {
  display: grid;
  justify-self: center;
}

.header__image-girl {
  display: grid;
  grid-area: header-image;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  background-position: right;
  padding: 0;
  margin-top: -10px;
  background-image: url(./assets/images/germangirl.png);
  background-repeat: no-repeat;
}

.header__navbar {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/3;
}

.link {
  color: #eb1b1b;
  text-align: center;
  padding: 20px 7px;
  text-decoration: none;
  font-size: 17px;
}

.link:hover {
  transition: 1s linear;
  cursor: pointer;
  background-color: rgb(230, 129, 129);
  color: rgb(110, 103, 103);
}

/*.link:visited {    
    color: #3E343E;
}
*/

.navbar__names {
  display: flex;
  overflow: hiddenn;
  margin-right: 10px;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 4%;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

.header__block-about {
  display: grid;
}

.header__hi-video {
  display: grid;
  justify-self: center;
}

video {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 50px;*/
  width: 80%; /*изменили с 480px на 80%, чтобы видео сжималось*/
  padding: 1%;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 3%;
  border: 8px solid #fdc435e3;
}

/*Main block*/
.main-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh;
  grid-template-areas:
  "main_for-whom"
  "main_for-whom"
  "main_for-whom"
  "main_for-whom"
  "main_for-whom"
  "main_for-whom"
  "main_for-whom"
  "main_for-whom"
}

.icons{
  display: flex;
  width: 20%;
}

.for-whom{
  background-image: url(./assets/images/blob_for-whom.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}


@media screen and (max-width: 960px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .header__image-girl {
    display: none;
    background-image: none;
  }

  .header__hi-title {
    text-align: center;
    font-size: 22px;
  }

  .header__block-about {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .header__hi-video {
    display: flex;
    justify-content: center;
    z-index: -1;
  }

  video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 1%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 3%;
    border: 4px solid #fdc435e3;
  }

  .hamburger-menu {
    display: block;
  }

  /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fdc435e3;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #fdc435e3;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

}

